.welcome {
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 200px 100px; 
    background-position: center;  
}
.services {
    text-align: center;
    color: white;
    padding: 120px 90px;
}