.welcome {
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 200px 100px; 
    background-position: center;  
}
.services {
    text-align: center;
    color: white;
    padding: 120px 90px;
}
.about {
    text-align: center;
    background-color: whitesmoke;
    padding: 50px 20px;
}
.welcome-bold {
    font-weight: bold;
    padding-bottom: 20px;
}
.welcome-two {
    font-weight: bold;
}
.about-h {
    font-weight: bold;
}
.img {
    padding-bottom: 50px;
}
.contact {
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 500px;
    width: 1284px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px
}
.row-one {
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-around;
}
.portfolio {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.row-two{
    width: 100%;
}
#row-one {
    padding-bottom: 40px;
}
#row-two {
    padding-bottom: 40px;
}
.contact-us {
    font-weight: bold;
}
#contact-name {
    width: 10cm;
    background: transparent;
    border-radius: 0px;
}
#contact-email {
    width: 10cm;
    background: transparent;
    border-radius: 0px;
}
#contact-message {
    width: 20cm;
    height: 6cm;
    background: transparent;
    border-radius: 0px;
}
.container {
    display: flex;
    justify-content: center;
}
