.welcome {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 160px 80px; 
    background-position: center;  
}
.services {
    text-align: center;
    color: white;
    padding: 120px 90px;
}
.about {
    text-align: center;
    background-color: whitesmoke;
    padding: 50px 20px;
}
.welcome-bold {
    font-weight: bold;
    padding-bottom: 20px;
}
.welcome-two {
    font-weight: bold;
}
.about-h {
    font-weight: bold;
}
.img {
    padding-bottom: 50px;
}
.mouse {
    padding-top: 80px;
    padding-bottom: 0px;
}
.h4 {
    font-size: 18px;
    font-weight: bold;
}
.h5 {
    font-size: 18px;
}
.product-hidden {
    display: none;
}
.development-hidden {
    display: none;
}
.design-hidden {
    display: none;
}
.contact {
    background-image: url(assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 500px;
    width: 1284px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px
}
.do {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.what-we-do {
    text-align: center;
}
.portfolio {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.row {
    display: flex;
    justify-content: space-around;
}
.row-one {
    width: 100%;
    cursor: pointer;
    color: white;
}
.row-one:hover {
    opacity: 0.4;
}
.row-two{
    width: 100%;
    cursor: pointer;
    color: white;
}
.row-two:hover {
    opacity: 0.4;
}
#row-one {
    padding-bottom: 40px;
}
#row-two {
    padding-bottom: 40px;
}
.contact-us {
    font-weight: bold;
}
#contact-name {
    width: 10cm;
    background: transparent;
    border-radius: 0px;
    color: white;
}
#contact-email {
    width: 10cm;
    background: transparent;
    border-radius: 0px;
    color: white;
}
#contact-message {
    width: 20cm;
    height: 6cm;
    background: transparent;
    border-radius: 0px;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
}
#contact-name::placeholder {
    color: white;
}
#contact-message::placeholder {
    color: white;
}
#contact-email::placeholder {
    color: white;
}
.btn {
    background-color: red;
    color: white;
}
.icons {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.col-md-1 {
    padding-right: 10px;
}
.end {
    text-align: center;
    font-size: 15px;
}